@import 'var', 'mixins';

.container{
    height: 100vh;
    margin: 0 5%;
    padding: $custonPadding;
    @include myCustomFlex;
    img{
        border-radius: $customBorder;
        @include  myCustomFilter(50%);

        &:hover{
            @include  myCustomFilter(110%);
            @include myCustomImg;
        }
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 30%;

    }
}